body {
    width: 80%;
    margin: 50px auto;
}

main {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    gap: 1em;
}

h1 {
    text-align: center;
    margin-bottom: 2em;
}

.cruceta-juego {
    display: inline-block;
    text-align: center;
}

a {
    text-decoration: none;
}

.derecha-izquierda a + a {
    margin-left: 4em;
}

table {
    border-collapse: collapse;
    border: 1px solid black;
}

table td {
    width: 28px;
    height: 28px;
    text-align: center;
}

.info {
    margin: 1em auto;
}

.error {
    color: red;
}

.reiniciar-btn {
    margin-top: 1em;
    width: 135px;
    padding: 10px;
    background-color: rgb(197, 35, 35);
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

